body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e9e7e9;
}

.header {
  background-color: #2b5881;
  color: white;
}

h1 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h2 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.column-half > img {
  width: 100%;
}

.center {
  text-align: center;
}

.column-half input {
  width: 100%;
  line-height: 25px;
}

label {
  line-height: 25px;
}

.card {
  border-radius: 0.1rem;
  background-color: rgba(240, 186, 51, 0.12);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

ul {
  list-style: none;
  font-family: "nanum pen script", sans-serif;
  font-size: 26px;
  color: black;
  padding: 1.25rem;
  text-align: center;
}

li {
  margin-bottom: 3rem;
}
